<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/_header %>
    <title>Football Home</title>
  </head>

  <body>
    <% include ../partials/nav %>
    <div class="container">
      <h1>Football Home</h1>
    </div>
  </body>
</html>
