<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/_header %>
    <title>Football Home</title>
  </head>

  <body>
    <div class="container">
      <h1>Football Home</h1>
    </div>
    <div>
      <p><a href='/login'>Login</a> or <a href='/register'>register</a></p>    
    </div>
  </body>
</html>
