<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/_header %>
    <title>League <%= (data.league.id) %></title>
  </head>

  <body>
    <div class="container">
      <h1>League <%= (data.league.id) %></h1>
    </div>
    <div class="container">



    </div>




  </body>
</html>
