<% include ./partials/_header %>

<body>
    <h1>LOGIN</h1>
    <form action='/login' method='POST'>
        <div class='form-group'>
            <label for='username'>userame</label>
            <input type='text' name='username' class='form-control' id='username'>
        </div>
        <div class='form-group'>
            <label for='password'>password</label>
            <input type='password' name='password' class='form-control' id='password'>
        </div>
        <div>
            <button type='submit' value='Send' id='submit' class='form-control'>submit</button>
        </div>
        <div>
            <p>Or click here to <a href='/register'>register</a></p>    
        </div>    
    </form>
</body>