<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/_head %>
    <title>Register</title>
  </head>

  <body>
    <% include ../partials/_nav %>

    <div class='container'>
      <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel-heading">
          <div class="panel-title">Register</div>
        </div>
        <div class="panel-heading">
          <form action='/register' method='POST'>
            <div class='form-group'>
                <label for='username'>Userame</label>
                <input type='text' name='username' class='form-control' id='username'>
            </div>
            <div>
              <% if (!uniqueUsername) { %>
                <p>Username Unavailable</p>
              <% } else { %>
                <p> </p>
              <% } %>
            </div>
            <div class='form-group'>
                <label for='email'>Email</label>
                <input type='email' name='email' class='form-control' id='email'>
            </div>
            <div class='form-group'>
                <label for='password'>Password</label>
                <input type='password' name='password' class='form-control' id='password'>
            </div>
            <div class='form-group'>
                <label for='confirmPassword'>Confrim Password</label>
                <input type='password' name='confirmPassword' class='form-control' id='confirmPassword'>
            </div>  
            <div>
              <p id="validate-status"></p>
            </div>          
            <div>
              <button type='submit' class='btn btn-default'>Submit</button>
            </div>            
          </form>
        </div>
      </div>
    </div>
  </body>
</html>

